*{

  padding: 0;
  margin: 0;
  color: #959494;
  font-size: 12px;
}
body{
  background-color: white !important;
}
.modal{
  position: absolute;
  width: 145px;
  height: 48px;
  display: block;
  background-color: black;
  z-index: 100;
  bottom: 23px;
  left: -66px;
  margin: auto;
  border-radius: 3px;
  
}
.modal::before{
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: black;
  transform: rotate(45deg);
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}
.modal * {
  background-color: black;
  color:white;
  text-align: center;
  
}
.modal p{
  font-size: 10px;
  color: #7C7C7C;
}
.modal h4{
  border-radius: 3px;
  margin: 7px;
  font-size: 12px;
}
.box{
  width: 15px;
  height: 15px;
  border: 1px solid white;
  position: relative;

}
.transparent{
  opacity: 0;
}

.box:hover{
  border: 1px solid #00000080
}

.gray{
  background: #EDEDED;
}
.lightBlue{
  background-color: #ACD5F2;
}
.blue{
  background-color: #7FA8C9;
}
.darkBlue{
  background-color: #527BA0;
}
.darkerBlue{
  background-color: #254E77;
}
.App{
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;

}
.grid-wrapper{
  position: relative;
  width: fit-content;
  margin: auto;

}
.months{
  display: flex;
  list-style: none;
  width: 830px;
  justify-content: space-around;
  margin: 0 auto;

}
.months li{
  padding: 5px 0px;
}
.flex{
  display: flex;
}
.weeks{
  margin-top: 15px;
  list-style: none;
}

.weeks li{
  padding: 0 4px;
  padding-bottom: 19px;
}
.borders{
  border: 1px solid #000000E5
}

.grid{
  display: flex; /* 51 строка */
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
}
.con{
  border: 1px darkgray solid;
  width: 950px;
  border-radius: 10px 10px 0 0 ;
  height: 180px;
  padding-top: 40px;
}
.years{
  display: flex;
  justify-content: start;
  flex-direction: column; 
  padding:0  40px ;
}